.search {
    position: relative;
    height: 40px;
    width: 440px;
    display: flex;
    margin-left: 22px;
    border-radius: 20px;
    background-color: var(--color-alpha-bg);
    padding-right: 40px;
}

.collapse {
    box-shadow: 0 1px 5px 0 rgb(0 0 0 / 20%);
    background-color: var(--color-primary-bg);
    border-radius: 20px 20px 0 0;
    border: 1px solid transparent;
}
.search-btn {
    width: 40px;
    height: 40px;
    .search-icon {
        fill: #dadada;
        &:hover {
            fill: #c0bbbb;
            cursor: pointer;
        }
    }
}

.search-input {
    font-size: 1.4rem;
    font-family: var(--default-font-family);
    width: 392px;
    color: var(--header-color);
    font-weight: 400;
    background-color: transparent;
    &::placeholder {
        opacity: 1;
    }
}
.search-result {
    overflow-y: scroll;
    max-height: 300px;
    padding: 13px 10px;
    width: 440px;
    background-color: var(--color-primary-bg);
    border-radius: 0 0 20px 20px;
}
//Result-Item
.horizontal-line {
    border: 1px solid hsla(0, 0%, 100%, 0.1);
    margin: 10px 0;
}
.search-title {
    font-size: 1.4rem;
    font-weight: 700;
    padding: 0 10px 8px;
}
.btn-close{
    position: absolute;
    cursor: pointer;
    right: 16px;
    top: 13px;
    display: flex;
    align-items: center;
    cursor: pointer;
    path{
        stroke: var(--text-primary-color);
    }
    :hover{
        filter: brightness(.9);
    }
}
