.wrapper {
    width: 100%;
    display: flex;
}
.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 240px;
    overflow: hidden auto; 
    max-height: calc(100vh - 90px);
    margin-bottom: 90px;
}
.toast {
    position: fixed;
}
