.wrapper {
    margin-top: 48px;
    padding: 0 !important;
    margin-bottom: -10px;
}

.title-section {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
}

.genre-select {
    margin-bottom: 20px;
    display: flex;
}

.button-select {
    font-family: var(--default-font-family);
    line-height: 1.5;
    color: var(--white);
    padding: 4px 24px;
    border: 1px solid var(--border-primary);
    font-weight: 400;
    font-size: 12px;
    margin-right: 15px;
    &:hover {
        filter: brightness(0.9);
    }
}
.active-button {
    border-color: var(--purple-primary);
    background-color: var(--purple-primary);
}
.table{
    display: flex;
}

.column{
    width: 33.33%;
}
.play-list{
    display: flex;
}
.item-section{
    width: 20%;
}
.item-section + .item-section{
    margin-left: 28px;
}
